#%RAML 1.0
title: environment-registry
version: v1
baseUri: http://environment-registry.epimorphics.net/registry/def/test
mediaType:
  - application/json
protocols:
  - http
types:
/:
  get:
    displayName: List the register
    description: Returns the JSON description of the register that is used for testing and demos
    queryParameters:
      non-member-properties:
        required: false
        type: boolean
        displayName: Return metadata only
        description: Only return metadata for the register, without listing members
      firstPage:
        required: false
        type: boolean
        displayName: Return first page of results
        description: Equivalent to _page=0
      _page:
        required: false
        type: number
        displayName: Page
        description: Return the given page of results
      status:
        required: false
        type: string
        enum:
          - any
          - accepted
        displayName: Status filter
        description: Only return register items whose status matches the given value
      _view:
        required: false
        type: string
        enum:
          - with_metadata
          - version_list
        displayName: View of the data
        description: Specifies a named view or subset of the data, e.g. 'with_metadata' or 'version_list'
      versionAt:
        required: false
        type: datetime-only
        displayName: Version at
        description: Specifies the version of the register that was in effect at the given XSD DateTime
      _format:
        required: false
        type: string
        enum:
          - csv
          - json-ld
          - ttl
          - rdf
        displayName: Format
        description: Specifies the return encoding of the results
      std:code:
        type: string
        required: false
        displayName: Filter by registry entry code
        description: Only return those entries matching the given entry code
      std:status:
        type: string
        required: false
        displayName: Filter by registry entry status code
        description: Only return those entries that have the given status code
      min-std:dateFrom:
        type: date-only
        required: false
        displayName: Filter by earliest date-from
        description: Only return those entries whose valid-from date is after the given date
      max-std:dateFrom:
        type: date-only
        required: false
        displayName: Filter by latest date-from
        description: Only return those entries whose valid-from date is before the given date
      min-std:dateTo:
        type: date-only
        required: false
        displayName: Filter by earliest date-to
        description: Only return those entries whose valid-to date is after the given date
      max-std:dateTo:
        type: date-only
        required: false
        displayName: Filter by latest date-to
        description: Only return those entries whose valid-to date is before the given date
    responses:
      200:
        body:
          application/json:

  post:
    displayName: Add to the register
    description: Register a new item in the register
/:{version}:
  get:
    displayName: List a specific version of the register
    description: Returns a JSON description of the identified version of the register
    responses:
      200:
        body:
          application/json:
